@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  
  
  .animate-fade-in {
    animation: fadeIn 1s ease-in-out 0.5s 1 normal both;
  }
  .animate-fade-in-delayed {
    animation: fadeIn 1s ease-in-out 1.5s 2 normal both;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .rotate-animation {
    animation: rotate 7s linear infinite;
  }

  @keyframes animateGradient {
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0 50%;
    } 
  }


  .background-animation{
    z-index: 1;
    /* background: linear-gradient(-45deg, rgb(242, 242, 242), rgb(220, 220, 220), rgb(175, 175, 175), rgb(0, 0, 0)); */
    /* background: linear-gradient(-45deg, red, green, blue, yellow); */
    background: linear-gradient(-45deg,rgb(226,68,128), rgb(3,202,149)); 
    /* background: linear-gradient(-45deg,rgb(240, 73, 137),rgb(221, 20, 97) );  */
    background-size: 400%,400%;
    animation: animateGradient 15s ease infinite
  }

  .background-animation-red{
    z-index: 1;
    background: linear-gradient(-45deg,rgb(226,68,128),rgb(209, 10, 86) ); 
    background-size: 400%,400%;
    animation: animateGradient 7s ease infinite
  }

  .background-animation-green{
    z-index: 1;
    background: linear-gradient(-45deg,rgb(3,202,149),rgb(2, 141, 111));
    background-size: 400%,400%;
    animation: animateGradient 7s ease infinite
  }

  
::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-thumb {
  background-color: #00DFA2; 
  border-radius: 5px; 
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}

  